@import "abstracts"

.container
  text-align: center
  background: 
    color: $black
    image: linear-gradient( rgba($black,0.4), rgba($black,0.4)), url('./hero.jpg') 
    repeat: no-repeat 
    position: center
    size: cover
  min-height: 30vh
  display: flex
  align-items: center
  justify-content: center
  color: $white

.title
  font-size: ms(4)
